/* 
    Created on : Mar 6, 2018, 10:10:13 AM
    Author     : rory
*/

body
{
	color:				#003399;
	/*background-image:	url('graphics/SupportSuite.png');*/
	overflow:			auto !important;
	min-height:			60vh;
	display:			block;
	position:			relative;
	/*height:				100vh;*/
	width:				100vw;
}

body::after 
{
	content:			"";
	background:			url(../graphics/SupportSuite.png) no-repeat;
	background-size:	98vw;
	opacity:			0.06;
	top:				10vh;
	left:				1vw;
	bottom:				0;
	right:				0;
	position:			absolute;
	z-index:			-2;  
	/*height:				100vh;*/
	width:				100vw;
}

body.uc::after 
{
	content:			"";
	background:			url(/graphics/UC.jpg) repeat-y;
	background-size:	100vw;
	opacity:			1;
	top:				0;
	left:				0;
	bottom:				0;
	right:				0;
	position:			absolute;
	z-index:			-1;  
	height:				100vh;
	width:				100vw;
}

h1 {font-size:			2.5vw;}
h2 {font-size:			2.0vw;}
h3 {font-size:			1.5vw;}
/*h4 {font-size:			1.5em;}*/

h2,h3
{
	padding-left:		25px;
}

table>tbody>tr,
table>tbody>tr>td
{
	vertical-align:		middle !important;
}

.noBorder,
.noBorder th,
.noBorder td
{
	border:				none !important;
}

.inactive,
.inactive td
{
	color:				#888888;
	background-color:	#EEEEEE;
}

button
{
	cursor:				pointer;
	z-index:			999;
}

/* Banner Image below NavBar */
.banner {
	width:				100vw;
	margin-left: 		0px;
}

.main
{
	min-height:			70vh;
	/*width:				99vw;*/
	margin-left:		0px;
	margin-right:		0px;
	margin-bottom:		10px;
	padding-left:		10px;
	overflow:			auto;
	/*border:				#00FF00 1px solid;*/
}

.greyBackground
{
	display:			block;
	background-color:	rgba(10,10,10,0.2);
	color:				#FFFFFF;
	text-align:			center;
	padding:			0.2em 1em;
	border:				none;
	overflow:			auto;
}

.info, .news
{
	border:				1px #CCCCCC solid;
	padding:			0px;
	margin-top:			1.5vh;
	font-size:			1.2em;
	line-height:		150%;
}

.info h3, .news h3
{
	margin-top:			0px;
}

.news
{
	border:				none;
	background-color:	rgba(38,60,112,0.1);
	color:				#888888;
	/*padding:			0.2em 1em;*/
	/*margin-left:		-5em;*/
	/*margin-right:		10em;*/
}

.news h3
{
	background-color:	transparent;
	border-bottom:		#CCCCCC solid thin;
	padding:			0.2em 1em;
}

p
{
	padding-left:		10px;
	padding-right:		10px;
	padding-bottom:		10px;
	color:				#003399;
}

/*Small Screens*/

@media (max-width: 768px) {
	
}

@media (min-width: 768px) {
	#working {
		/*margin-top:		-25px;*/
	}
	.masters {
		margin-top:		35px;
	}
}
.notice,
.notice p
{
	text-align:			center;
	color:				#FF0000;
}

.noPadding
{
	padding:			none !important;
}

.bottom a
{
	color:				#F8B735;
}

.uc h2
{
	text-align:			center;
}

img.logo
{
	float:				right;
	z-index:			4;
	width:				10vw;
	min-width:			100px;
}

.fileList,
.fileList a,
.fileList a:visited
{
	padding:			5px 0px;
	font-size:			1.2em;
	text-decoration:	none;
	color:				#243B72;
}

.fileList a:hover
{
	background-color:	rgba(38,60,112,0.1);
}


.fileList h4 img
{
	padding-bottom:		3px;
}


.fileList h4
{
	color:				#243B72;
	background-color:	rgba(38,60,112,0.1);
	line-height:		200%;
	padding-left:		10px;
}

.text-blue
{
	color:				#0000FF;
}

.text-red
{
	color:				#FF0000;
}

.text-left,
.text-left > td
{
	text-align:			left;
}

.border-red
{
	border:				2px solid red;
}

.boxed-style
{
	border:				#DDDDDD thin solid;
	background-color:	rgba(38,60,112,0.1);
	text-align:			center;
	padding:			2em 1em ;
}

.padded-top
{
	padding-top:		10px;
}

ul.padded-top
{
	padding-top:		5px;
}

.row.padded-top
{
	padding-top:		4em;
}

ul.lightningbolt
{
	list-style:			none;
	/*margin-left:		0px;*/
}

ul.lightningbolt>li 
{
  line-height:			2em;
}

ul.lightningbolt>li:before {
	font-family:		'FontAwesome';
	font-size:			16px;
	content:			'\f0e7';
	position:			relative;
	margin-left:		-1em;
	margin-right:		5px;
	bottom:				2px;
}

.blur-pic
{
	min-height:			100px;
	padding:			15px 0 35px;
	background-image:	url(http://reticmaster.com/wp/wp-content/uploads/2013/12/blur-powerlines.jpg); 
	/*background-attachment:	fixed;*/
	background-position:	center center;
	text-shadow:		1px 1px #333333;
}
.blur-pic p
{
	color:				#EEEEEE;
	font-size:			1.3em;
}

.huge
{
	font-size:			5em;
}

.btn-huge
{
	padding:			1em;
}

.border-thin
{
	border:				#CCCCCC thin solid;
	padding:			5px;
	background-color:	rgba(38,60,112,0.1);
}

/*Our Products styling*/

.spacer 
{
	width:				3%;
}

.product>.row
{
	margin:				-5px;
	border-bottom:		1px #FFFFFF solid;
	padding:			3px;
	margin-bottom:		5px;
}

.product>.row img
{
	float:				left;
	margin-top:			3px;
	padding:			0px 25px;
}

.product>.row h4
{
	/*text-align:			center;*/
	/*margin-bottom: 	15px;*/
}

.product>.row p
{
	padding-top:		5px;
	/*padding-bottom:		0px;*/
	text-align:			justify;
}

.product
{
	font-size:			smaller;
}

/*PM Styling*/

.product-left
{
	background-color:	rgba(81,0,94,0.1);
	color:				#51005E;
}

.product-left .btn
{
	background-color:		#51005E;
	color:					#FFFFFF;
	margin-bottom:			5px;
}

.product-left .btn:hover
{
	background-color:		rgba(81,0,94,0.7);
	color:					#FFFFFF;
}

/*RM Styling*/

.product-mid
{
	background-color:	rgba(0,0,255,0.1);
	color:				#0000FF;
}

.product-mid .btn
{
	background-color:		#0000FF;
	color:					#FFFFFF;
	margin-bottom:			5px;
}

.product-mid .btn:hover
{
	background-color:		rgba(0,0,255,0.7);
	color:					#FFFFFF;
}

/*PO Styling*/

.product-right
{
	background-color:	rgba(26,111,0,0.1);
	color:				#1A6F00;
}

.product-right .btn
{
	background-color:		#1A6F00;
	color:					#FFFFFF;
	margin-bottom:			5px;
}

.product-right .btn:hover
{
	background-color:		rgba(26,111,0,0.7);
	color:					#FFFFFF;
}

.font-large 
{
	font-size:			large;
}

.border-none
{
	border:				none;
}

.bottom
{
	display:			block;
	position:			absolute;
	text-align:			right;
	bottom:				220px;
	left:				20px;
	height:				50px;
	width:				95vw;
	color:				#777;
	z-index:			99;
}

.DLtable>tbody>tr:hover
{
	cursor:				pointer;
	background-color:	#f2f2f2;
}

.publish
{
	min-width:			120px;
}

.tableimg
{
	max-height:			30px;
	margin-top:			-5px;
}

.table-list tbody tr
{
	cursor:				pointer;
	font-size:			smaller;
}

.table-list tbody tr.active,
.table-list tbody tr.active td
{
	background-color:	rgba(0, 51, 153, 0.2) !important;
}

.table-borderless tbody tr,
.table-borderless tbody tr>td
{
	border-top: 		none !important;
}

.table-border td
{
	border:				#CCCCCC thin solid;
}

.message
{
	background-color:	rgba(255,255,0,0.2);
}

/*.message>td:hover,*/
.message:hover
{
	color:				blue;
	background-color:	rgba(255,255,0,0.5) !important;
}

#modal-body tbody td>input[type='text'],
#modal-body tbody td>select
{
	font-size:			small;
	width:				95%;
}

.hidden
{
	display:			none;
}

.list-spaced
{
	padding:			5px 0px;
}

.btn-dark
{
	background-color:	#243B72 !important;
	color:				#FFFFFF;
}

.btn-dark:hover
{
	background-color:	rgba(38,60,112,0.9) !important;
	color:				#EEE;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #003399;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #003399;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #003399;
}

.address-box
{
	height:		auto;
	min-height: 7em;
}

 /*=====> Dev <=====*/

.redBorder
{
	border:				1px solid red;
}
