/* 
    Created on : Mar 6, 2018, 10:10:13 AM
    Author     : rory
*/

/* ====================== */
/* ===== Top NavBar ===== */
/* ====================== */

.navbar
{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9;
}

.navbar-inverse,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li.open>a,
.navbar-inverse li a
{
	background-color:	#243B72;
	color:				#FFFFFF;
	font-size:			1.1em;
}

.navbar-inverse .navbar-nav li.active a:hover,
.navbar-inverse .navbar-nav li a:hover
{
	color:				#FFF;
	background-color:	rgba(255,255,255,0.1);

}

.navbar-inverse .navbar-nav li.active a,
.leftNav .btn-dark.active
{
	color:				#F8B735;
	background-color:	rgba(199,255,255,0.1);
}

.leftNav .btn-dark:hover
{
	background-color:	rgba(255,255,255,0.2);
}

.navbar-inverse .navbar-nav > li.dropdown:hover > a, 
.navbar-inverse .navbar-nav > li.dropdown:hover > a:hover,
.navbar-inverse .navbar-nav > li.dropdown:hover > a:focus {
    /*background-color:	#EEEEEE;*/
	/*background-color: rgba(255,255,255,0.5);*/
    /*color: #003399;*/
	/*z-index: 9;*/
}

li.dropdown.active > .dropdown-menu li a,
li.dropdown:hover > .dropdown-menu li a
{
	background-color:	#FFF;
	color:				#003399;
}

li.dropdown:hover > .dropdown-menu li:hover,
li.dropdown:hover > .dropdown-menu li a:hover
{
	background-color:	#EEEEFF;
	color:				#003399;
}

#brandImg
{
	position:			absolute;
	top:				-20px;
	left:				20px;
}

.contactBar
{
	background-color:	#EEEEEE !important;
	color:				#AAAAAA !important;
	font-size:			1em;
	padding:			5px 0px;
}

.contactBar i
{
	padding:			0px 10px;
}



.navbar-nav 
{
	margin-left:		1em !important;
}

.padding-top
{
	min-height:			4em;
}

/* ==================== */
/* ===== Left Nav ===== */
/* ==================== */

.leftNav
{
	padding-left:		2em;
}

.leftNav h3 {text-align: center;}

.leftNav .btn-ghost
{
	border:				none;
	background-color:	transparent;
	color:				#003399;
	/*color:				red;*/
}

.leftNav .btn-ghost:hover
{
	background-color:	rgba(38,60,112,0.1);
}

.leftNav .btn-ghost:active
{
	background-color:	rgba(38,60,112,0.9);
	color:				#F8B735;
}

.leftNav .btn-ghost.active
{
	border:				#CCCCCC thin solid;
	background-color:	rgba(38,60,112,0.9);
	color:				#FFFFFF !important;
}

/* ================ */
/* ===== Tabs ===== */
/* ================ */

.nav-tabs li.active>a
{
	color:				#003399 !important;
}


/* Small Screens */

@media (max-width: 768px) {
	.contactBar,
	.navbar-brand
	{
		visibility:			hidden;
	}

	.footerBar
	{
		display:			none;
	}

	.leftNav
	{
		padding-top:		2em;
	}
	
	h1 {font-size:			2em;}
	h2 {font-size:			1.75em;}
	h3 {font-size:			1.3em;}
	h4 {font-size:			1.0em;}

	img.logo
	{
		border:				#CCCCCC thin solid;
	}

	
}

/* Large Screens */

@media (min-width: 768px) {

	ul.navbar-nav
	{
		margin-left:		300px; /* Make space for company logo */
	}

	li.dropdown:hover > .dropdown-menu {
		display: block;
	}

	.footerBar,
	.footerBar p,
	.footerBar a
	{
		background-color:	#243B72;
		color:				#F8B735;
	}

	.footerBar
	{
		width:				100vw;
		overflow:			auto;
	}
}
